@import url("./grid.css");

:root {
  --light: #f9f2ec;
  --dark: #0c0600;
  --main: #996633;
  --background_light: #fff;
  --background_dark: #130d06;
}

* {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

.themelight {
  background-color: var(--light);
  color: var(--dark);
}

.themelight .bglv1 {
  background-color: var(--background_light);
  color: var(--dark);
}

.themedark {
  background-color: var(--dark);
  color: var(--light);
}

.themedark .bglv1 {
  background-color: var(--background_dark);
  color: var(--light);
}

.bg-main {
  background-color: var(--main);
  color: white;
}

.themelight .parallax-gradiant {
  background: linear-gradient(#fff, #f9f2ec);
  background-size: 100% 300px;
  background-repeat: repeat;
}

.themelight .content-gradiant {
  background: linear-gradient(#fff, #f9f2ec);
  background-size: 100%;
  background-repeat: repeat;
}

.themedark .parallax-gradiant {
  background: linear-gradient(#130d06, #0c0600);
  background-size: 100% 300px;
  background-repeat: repeat;
}

.themedark .content-gradiant {
  background: linear-gradient(#130d06, #0c0600);
  background-size: 100%;
  background-repeat: repeat;
}

.filter-brightness-90p {
  backdrop-filter: blur(1px) brightness(0.9);
}

.filter-brightness-50p {
  backdrop-filter: blur(1px) brightness(0.5);
}

.svg50 svg {
  width: 40px;
  height: 40px;
  padding: 5px;
  box-sizing: border-box;
}

.w100w {
  width: 100vw;
}

.h100h {
  height: 100vh;
}

.mw100w {
  min-width: 100vw;
}

.mh100h {
  min-height: 100vh;
}

.mh300px {
  min-height: 300px;
}

.w100p {
  width: 100%;
}

.w90p {
  width: 90%;
}

.w-mc {
  width: max-content;
}

.mw-575px {
  max-width: 575px;
}

.mw-768px {
  max-width: 768px;
}

.mw-992px {
  max-width: 992px;
}

.mw-1200px {
  max-width: 1200px;
}

.mw-1600px {
  max-width: 1600px;
}

.w200px {
  width: 200px;
}

.w300px {
  width: 300px;
}

.h-mc {
  height: max-content;
}

.h40px {
  height: 40px;
}

.h50px {
  height: 50px;
}

.h100px {
  height: 100px;
}

.h200px {
  height: 300px;
}

.h300px {
  height: 300px;
}


.h100p {
  height: 100%;
}

.h100h-h {
  height: calc(100vh - 50px);
}

.mh100h-h {
  min-height: calc(100vh - 50px);
}


/* display */
.dp-flex {
  display: flex;
}

.dp-none {
  display: none;
}

.dp-block {
  display: block
}

.fd-col {
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.jc-sp-bw {
  justify-content: space-between;
}


/* margin */
.mg-auto {
  margin: auto;
}

.mg-auto-0 {
  margin: auto 0;
}


.mg-5px {
  margin: 5px;
}

.mg-5px-0px {
  margin: 5px 0px;
}

.mg-10px-auto {
  margin: 10px auto;
}

.mg-10px-0px {
  margin: 10px 0px;
}

.mg-10px {
  margin: 10px;
}

.mg-5p {
  margin: 5%;
}

.mg-10px-0px {
  margin: 10px 0px;
}

.mg-0px-10px {
  margin: 0px 10px;
}

.mg-20px-0px {
  margin: 20px 0px;
}

.mg-top-50px {
  margin-top: 50px;
}

.mg-bot-10px {
  margin-bottom: 10px;
}

.mg-bot-20px {
  margin-bottom: 20px;
}

/* padding */
.pd-5px {
  padding: 5px;
}

.pd-0px-5px {
  padding: 0px 5px;
}

.pd-10px-0px {
  padding: 10px 0px;
}

.pd-10px-20px {
  padding: 10px 20px;
}

.pd-5p {
  padding: 5%;
}

.pd-10px {
  padding: 10px;
}

.pd-top-50px {
  padding-top: 50px;
}

/* position */
.ps-ab {
  position: absolute;
}

.ps-f {
  position: fixed;
}

.le-0px {
  left: 0;
  right: auto;
}

.ri-0px {
  left: auto;
  right: 0;
}

.ri-5px {
  left: auto;
  right: 5px;
}

.top-0px {
  bottom: auto;
  top: 0px;
}

.top-5px {
  bottom: auto;
  top: 5px;
}

.top-50px {
  bottom: auto;
  top: 50px;
}

.top-100vh-300px {
  bottom: auto;
  top: calc((100vh - 300px)/2);
}

.ps-re {
  position: relative;
}

.ps-st {
  position: sticky;
}

/* cursor */
.cs-p {
  cursor: pointer;
}

/* transform */
.trsf-left--100p {
  transform: translateX(-100%);
}

.trsf-top--100p {
  transform: translateY(-100vh);
}

.trsf-scale-0 {
  transform: scale(0);
}

.trsf-scale-1 {
  transform: scale(1);
}

/* transition */
.trss-1-4 {
  transition: all 0.25s;
}

.trss-1-2 {
  transition: all 0.5s;
}

.trss-delay-1-4 {
  transition-delay: 0.25s;
}

/* border */
.br-5px {
  border-radius: 5px;
}

.bor-none {
  border: none;
}

.bor-1px {
  border: 1px solid;
}

.bor-bot-1px {
  border-bottom: 1px solid;
}

.borC-main {
  border-color: var(--main);
}

/* font */
.fos-90p {
  font-size: 90%;
}

.fos-80p {
  font-size: 80%;
}

.fos-70p {
  font-size: 70%;
}

/* font-weight */

.fow-b {
  font-weight: bold;
}

/* text */

.ta-center {
  text-align: center;
}

.ta-j {
  text-align: justify;
}

.ta-l {
  text-align: left;
}

.tw-no {
  text-wrap: nowrap;
}

/* z-index */
.zi-1 {
  z-index: 1;
}

.zi-2 {
  z-index: 2;
}

.zi-3 {
  z-index: 3;
}

.opacity-1-4 {
  opacity: 0.25;
}

.opacity-1-10 {
  opacity: 0.1;
}

/* hover */
.hover-title:hover {
  background-color: var(--main);
  color: white;
}

.hover-link:hover {
  color: var(--main);
}

.hover-opacity:hover {
  opacity: 1;
}

.hover-bg-white-1-10:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.hover-bg-white-1-4:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.hover-bg-white-1-2:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* box-shadow */
.bs-1px {
  box-shadow: 0px 0px 1px #aaa;
}

.bs-2px {
  box-shadow: 0px 0px 2px #aaa;
}

/* scroll */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* animation */
.animation-fdown-toup {
  animation: fdown-toup 2s;
}

.animation-change-page {
  width: 100%;
  position: fixed;
  left: 0;
  right: auto;
  top: 0;
  height: 100vh;
  animation: change-page 1s forwards;
  z-index: 3;
}

/* overflow */
.of-hidden {
  overflow: hidden;
}

.of-auto {
  overflow: auto;
}

.dangerousBox {
  letter-spacing: 0.5px;
  text-align: justify;
  line-height: 1.35;
}

@keyframes fdown-toup {
  0% {
    transform: translateY(100%);
  }

  50% {
    transform: scale(1) translateY(0);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes change-page {
  0% {
    /* width: 50vw; */
    transform: translateX(0vw);
    width: 100vw;
  }

  25% {
    transform: translateX(0vw);
    width: 50vw;
  }

  50% {
    transform: translateX(0vw);
    width: 100vw;
  }

  100% {
    transform: translateX(100vw);
    width: 100vw;
  }

}

@media (min-width:768px) {
  .min768-dp-flex {
    display: flex;
  }

  .min768-gr-none {
    background-color: inherit !important;
  }

  .min768-dp-none {
    display: none;
  }

  .min768-ps-re {
    position: relative;
  }

  .min768-ps-st {
    position: sticky;
  }

  .min768-trsf-0 {
    transform: inherit;
  }

  .min768-pd-top-0 {
    padding-top: 0;
  }

  .min768-h100h-h {
    height: calc(100vh - 50px);
  }

  .min768-w100p-300px {
    width: calc(100% - 300px);
  }

  .min768-top50px {
    top: 50px;
  }
}